<h1>Criar produto</h1>

<form action="/product/create" method="POST">

  <div class="form-control">
    <label for="name">Nome do produto:</label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Digite o nome do produto..."
    />
  </div>
  <div class="form-control">
    <label for="price">Preço do produto:</label>
    <input
      type="text"
      name="price"
      id="price"
      placeholder="Digite o preço do produto..."
    />
  </div>
  <div class="form-control">
    <label for="description">Descrição do produto:</label>
    <input
      type="text"
      name="description"
      id="description"
      placeholder="Digite a descrição do produto..."
    />
  </div>

</form>